body {
      font-family: Arial, sans-serif;
      padding: 30px;
      background: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center; 
    }

    h2 {
      margin-top: 25px;
      font-size: 20px;
    }

    button {
      padding: 10px 18px;
      font-size: 16px;
      border: none;
      background: #3498db;
      color: white;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 5px;
    }


    button:hover {
      background: #2980b9;
    }

    .box {
      background: white;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }